@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-arrow {
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  background-color: rgba(0,0,0,0.5); /* Background color */
  border-radius: 50%; /* Circular arrows */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure arrows are on top of the slider */
}

.slick-prev, .slick-next {
  font-size: 30;
  padding: 5px !important;
  color: #000000; /* Customize arrow color */
  z-index: 1;
  margin: 0 !important;
}

.slick-prev:before, .slick-next:before{
  color: gray !important;
  font-size: 30px !important;
  margin: -8px !important;
}

/* .slick-prev {
  left: 10px;
} */

/* .slick-next {
  right: 10px;
} */

.slick-slide {
  /* Override default styles here */
  padding: 5px !important;
  height: 100% !important;
  /* width: 80% !important; */
}

.slick-track {
  /* Ensure correct spacing and layout */
  /* display: flex !important; */
  /* gap: 10px; Space between slides */
  margin: 10px;
  height: 100%;
}

.react-slick-slider {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}